nav {
  background-color: rgb(254, 106, 64);
  margin: 0 -20px 0 -20px;
}

.nav-link-container {
 max-width: 600px;
 margin: 0 20px;
}

.navbar-link {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 10px 0 10px 0;
  text-decoration: none;
  color: black;
  font-size: 4.4vw;
}

.navbar-link.workouts, .navbar-link.data-analysis {
  width: 38%;
}

.navbar-link.profile {
  width: 24%;
}

.selectedNav {
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  background-color: rgb(224, 76, 34);
  color: white;
  text-decoration: underline solid white;
}

.error-message.dashboard {
  margin: 0 auto;
  padding: 5px 5px 0 5px;
  max-width: 600px;
  text-align: center;
  background-color: white;
  border-left: 2px solid rgba(254, 106, 64, 0.4);
  border-right: 2px solid rgba(254, 106, 64, 0.4);
}
.error-message.dashboard p {
  margin: 0;
}
.error-message.dashboard button {
  font-size: 4vw;
  margin: 0;
  background-color: rgb(20, 90, 175);
  color: white;
  border-radius: 5px;
}

.dashboard-content {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border: 2px solid rgba(254, 106, 64, 0.4);
  border-top: none;
  border-radius: 0 0 5% 5%;
  max-width: 600px;
  margin: 0 auto;
}

@media only screen and (min-width: 400px){
  .error-message.dashboard button {
    font-size: 16px;
  }
}

@media only screen and (min-width: 450px) {
  .navbar-link.workouts, .navbar-link.profile, .navbar-link.data-analysis {
    margin: 0;
    width: 33.33%;
    font-size: 20px;
  }
}

@media only screen and (min-width: 640px){
  .nav-link-container {
    margin: 0 auto;
  }
}