nav {
  background-color: rgb(254, 106, 64);
  margin: 0 -20px 0 -20px;
}

nav div {
  margin: 0 20px 0 20px;
}

.navbar-link {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 10px 0 10px 0;
  text-decoration: none;
  color: black;
  font-size: 4.4vw;
}

.navbar-link.workouts, .navbar-link.data-analysis {
  width: 38%;
}

.navbar-link.profile {
  width: 24%;
}

.selectedNav {
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  background-color: rgb(224, 76, 34);
  color: white;
  text-decoration: underline solid white;
}

.error-message.dashboard {
  margin: 0;
}

.dashboard-content {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border: 2px solid rgba(254, 106, 64, 0.4);
  border-top: none;
  border-radius: 0 0 5% 5%;
}

@media only screen and (min-width: 450px) {
  .navbar-link.workouts, .navbar-link.profile, .navbar-link.data-analysis {
    margin: 0;
    width: 33.33%;
    font-size: 20px;
  }
}